<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav" [opened]="true" [mode]="'side'">
    <div class="navigation-menu-container">
      <md-list>
        <md-list-item class="dashboard">
          <md-icon md-list-icon>dashboard</md-icon>
          <h4 md-line>Dashboard</h4>
        </md-list-item>
      </md-list>
    </div>
  </md-sidenav>
  <div class="sidenav-content">
    <!-- <router-outlet></router-outlet> -->

    <!-- TODO: These date pickers need validators-->
    <div>
      From:
      <md-form-field>
        <input mdInput [mdDatepicker]="startDate" placeholder="Choose a start date" [max]="maxDate" [min]="minDate" [value]="startDateDttm" (dateChange)="startDateChange($event.value)">
        <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
        <md-datepicker #startDate></md-datepicker>
      </md-form-field>
      To:
      <md-form-field>
        <input mdInput [mdDatepicker]="endDate" placeholder="Choose a end date" [max]="maxDate" [min]="minDate" [value]="endDateDttm" (dateChange)="endDateChange($event.value)">
        <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
        <md-datepicker #endDate></md-datepicker>
      </md-form-field>
    </div>


    <div>
      <md-select placeholder="Feature Filter" (change)="featureChanged($event.value)">
        <md-option *ngFor="let feature of tagService.features" [value]="feature">
          {{ feature }}
        </md-option>
      </md-select>
    </div>

    <div>
      Tags:
      <md-radio-group class="radio-group" [(ngModel)]="selectedTag">
        <md-radio-button class="radio-button" *ngFor="let tag of availableTags" [value]="tag">
          {{tag.label}}
        </md-radio-button>
      </md-radio-group>
    </div>
    <div>
      <button (click)="submit()" [disabled]="!selectedTag" md-raised-button color="primary">Submit</button>
    </div>

    <div>
      <app-chart ></app-chart>
    </div>
  </div>
</md-sidenav-container>